div{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    background-color: black;
    width: 50%;
}
table{

    padding: 2px;
    width: 50%;
    border: 1px black solid;
}

th , td{
    padding: 5px;
    border: black 2px solid;
    text-align: center;
}
th{
    text-align: end;
    background-color: yellow;
}

tr:nth-child(2) > td:nth-child(1){
    background-color: pink;

}
